@import '../../../styles/variables.scss';
@import '../../../styles/mixin.scss';

.header {
    background-color: $primary;
    color: #fff;
    padding: 20px 0;
    position: sticky;
    top: 0;

    .container {
        @include space-between;
    }

    .btn {
        border-radius: 5px;
        padding: 5px;
        margin-left: 10px;
    }
}